@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');

@font-face {
    font-family: 'Doctor Who Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Doctor Who Regular'), url('doctor_who.woff') format('woff');
    }

* {
    box-sizing: border-box;
    padding: 2%;
}
/* comment this bish */

.nav{
    display: flex;
    border-style: double;
    border-color: white;
    justify-content: space-evenly;
    background-color: rgb(29, 47, 206);
    font-family:'Doctor Who Regular';
    background-image: url("banner.jpeg");
    background-position:top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: larger;

}
/* for class we use . */
/* for id we use hashtag */

.nav a {
    font-size: larger;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav :hover {
    color: rgb(84, 121, 233);
}


body {
    background-image: url("background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

h1 {
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-size: 80px;
    font-family:'Doctor Who Regular';
    font-weight:bold;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-family:'Doctor Who Regular';
    background-color: darkblue;
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    background-color: darkblue;
    font-size: 20px;
    font-family:'Doctor Who Regular';  
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    padding:3%;
    color: rgb(144, 143, 233);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    color: cornsilk;
    font-family: 'Doctor Who Regular';
    font-size: 40px;
}

.contact a {
    text-decoration: none;
}

a :hover{
    color: rgb(236, 9, 9);
}

.fave {
    display: inline-flex;
    margin-left:40%;
    justify-content:center;
    background-color: rgb(40, 20, 172);
    color: rgb(255, 238, 2);
    font-family: 'Doctor Who Regular';
    font-size: 20px;
    text-align: center;
}

#fave {
    img {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}}

img {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
